<nav class="navigation">
  <a *ngIf="isAdmin()" routerLink="/app/dashboard" (click)="mobileMenuOpen = false"> Dashboard </a>

  <a *ngIf="isAdmin()" routerLink="/app/customers" (click)="mobileMenuOpen = false"> Kunden </a>

  <a *ngIf="isAdmin()" routerLink="/app/products" (click)="mobileMenuOpen = false"> Produkte </a>

  <a routerLink="/app/orders" (click)="mobileMenuOpen = false"> Bestellungen </a>

  <a *ngIf="isTechAdmin()" routerLink="/app/employees" (click)="mobileMenuOpen = false">
    Mitarbeiter
  </a>
</nav>
